{% extends 'main.html' %}
{% load static %}


{% block content %}

<div class="container mt-5">
    <h1 class="text-warning mb-5 border-bottom">CONTACT US</h1>
    <div class="row text-whote mb-5">
        <div class="col-sm-9 mb-5 text-center">
            <h1 class="mx-auto mb-5 text-light">
                If you have any questions? Please do not hesitate to contact.
            </h1>
            <a href="https://rb.gy/7ig4w" class="btn btn-outline-warning my-3 mr-5" target="_blank">Resume</a>
        </div>
        <div class="col-sm-3 text-center">
            <ul class="list-unstyled">
                <li>
                    <i class="fas fa-map-marker-alt fa-2x i-color"></i>
                    <p class='text-light'>Patna, Bihar, India</p>
                </li>
                <li>
                    <i class="fa-brands fa-discord mt-4 fa-2x i-color"></i>
                    <p class='text-light'>Pixel_Ravi#2210</p>
                </li>
                <li>
                    <i class="fas fa-envelope mt-4 fa-2x i-color"></i>
                    <p class='text-light'>monubibhu@gmail.com</p>
                </li>
            </ul>
        </div>
    </div>
</div>

{% endblock content %}