{% extends 'main.html' %}
{% load static %}


{% block content %}

<div class="container mt-5">
    <h1 class="text-warning mb-5 border-bottom">PROJECTS</h1>

    <div class="row text-center text-white mb-5">
        <!-- 1st Block -->
        <div class="col-sm-4 bac">
            <i class="fa-solid fa-microphone-lines fa-2xl mb-3 i-color"></i>
            <a href="https://github.com/NandanRavi/R-M-Studybud" class="ls-style">
                <div class="text-white di-style">
                    <h3>R M Studybud</h3>
                    <p class="ss-color">This Website helps to build the community of developers </p>
                    <div class="para">
                        <p class="text-center">Python</p>
                        <p class="text-center">Django</p>
                        <p class="text-center">HTML/CSS</p>
                        <p class="text-center">JavaScript</p>
                    </div>
                </div>
            </a>
        </div>

        <!-- 2nd Block -->
        <div class="col-sm-4 bac">
            <i class="fa-solid fa-user fa-2xl mb-3 i-color"></i>
            <a href="/" class="ls-style">
                <div class="text-white di-style">
                    <h3>Portfolio</h3>
                    <p class="ss-color">This is my Portfolio Website</p>
                    <div class="para">
                        <p class="text-center">Python</p>
                        <p class="text-center">Django</p>
                        <p class="text-center">HTML/CSS</p>
                    </div>
                </div>
            </a>
        </div>

        <!-- 3rd Block -->
        <div class="col-sm-4 bac">
            <i class="fa-solid fa-cloud fa-2xl mb-3 i-color"></i>
            <a href="https://github.com/NandanRavi/weatherapp" class="ls-style" target="_blank">
                <div class="text-white di-style">
                    <h3>Weather App</h3>
                    <p class="ss-color">This is the Weather application, As name suggest it shows the weather of any place. Click me for source code</p>
                    <div class="para">
                        <p class="text-center">Python</p>
                        <p class="text-center">Django</p>
                        <p class="text-center">HTML/CSS</p>
                    </div>
                </div>
            </a>
        </div>

        <!-- 4th Block -->
        <div class="col-sm-4 bac mt-4">
            <i class="fa-solid fa-staff-snake fa-2xl mb-3 i-color"></i>
            <a href="https://github.com/NandanRavi/Snake-Game" class="ls-style" target="_blank">
                <div class="text-white di-style">
                    <h3>Snake Game</h3>
                    <p class="ss-color">This is only a Snake Game which is created using Tkinter. Click me for source code</p>
                    <div class="para">
                        <p class="text-center">Python</p>
                        <p class="text-center">Tkinter</p>
                    </div>
                </div>
            </a>
        </div>

        <!-- 5th Block -->
        <div class="col-sm-4 bac mt-4">
            <i class="fa-solid fa-bowl-food fa-2xl mb-3 i-color"></i>
            <a href="https://nandanravi.github.io/foodies/" class="ls-style" target="_blank">
                <div class="text-white di-style">
                    <h3>Foody Website</h3>
                    <p class="ss-color">This website helps to know the famous dishes of different States of India.</p>
                    <div class="para">
                        <p class="text-center">HTML/CSS</p>
                    </div>
                </div>
            </a>
        </div>

        <!-- 6th Block -->
        <div class="col-sm-4 bac mt-4">
            <i class="fa-solid fa-hourglass fa-2xl mb-3 i-color" target="_blank"></i>
            <a href="https://github.com/NandanRavi/Pomodoro-App" class="ls-style">
                <div class="text-white di-style">
                    <h3>Pomodoro App</h3>
                    <p class="ss-color">This is a timer app just like normal clock works. This whole phenomenon called Pomodoro. Click me for source code</p>
                    <div class="para">
                        <p class="text-center">Python</p>
                        <p class="text-center">Tkinter</p>
                    </div>
                </div>
            </a>
        </div>

        <!-- 6th Block -->
        <div class="col-sm-4 bac mt-4">
            <i class="fa-solid fa-car fa-2xl mb-3 i-color"></i>
            <a href="#" class="ls-style">
                <div class="text-white di-style">
                    <h3>Upcoming</h3>
                    <p class="ss-color">More coming.....</p>
                </div>
            </a>
        </div>






        </div>
    </div>
</div>


{% endblock content %}